/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 24, 2023, 6:12:38 PM
    Author     : dungmuahahaha
*/

 .account-div{
                position: relative;
            }

            .account-table{
                display: none;
                position: absolute;
                top: 34px;
                right: 0;
                width: 160px;
                border-radius: 5px;
                padding: 10px;
            }

            .account-div:hover .account-table{
                display: block;
            }